.attrs-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;

  .cz-aside {
    width: 200px;
    height: 100vh;

    > ul {
      height: 100%;
    }
  }

  .cz-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .config-aside {
    width: 450px;
    border-left: 1px solid var(--el-menu-border-color);
  }
}
