.attrs-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;

  .cz-aside {
    width: 200px;
    height: 100vh;

    > ul {
      height: 100%;
    }
  }

  .cz-main {
    display: flex;
    flex-direction: column;
    .ele-style-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow: auto;
    }
  }

  .config-aside {
    width: 450px;
    border-left: 1px solid var(--el-menu-border-color);
  }
}
